CRATEDB_URL=your_cratedb_url
CRATEDB_USERNAME=your_cratedb_username
CRATEDB_PASSWORD=your_cratedb_password
CRATEDB_FULL_TEXT_ANALYZER=english
OPENAI_API_KEY=your_openai_api_key
PDF_DIR=name_of_directory_containing_input_pdf_files
PDF_COLLECTION_TABLE_NAME=name_of_table_in_cratedb_to_store_pdf_data
GPT_MODEL=gpt-4-turbo
TEXT_EMBEDDING_MODEL=text-embedding-3-small
MAX_IMAGE_DESCRIPTION_TOKENS=150
IMAGE_DESCRIPTION_TEMPERATURE=0.5